.weekly_learn_wrapper {
    background-color: rgba(204, 209, 215, 0.3);

}

.weekly_learn_title {
    font-size: 36px;
    line-height: 41px;
    margin: 95px 0 ;
}

.weekly_learn_content {
    max-width: 1440px;
    padding: 100px 0;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.weekly_learn__title {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 23px;
}

.weekly_learn_image:hover {
    background-color: #FFFFFF99;
    opacity: 0.6;
    transition: all 0.40s;
}